@import "variables";

.color-offset-green{
  -webkit-box-shadow: 3px 5px 0px 0px $green !important;
  -moz-box-shadow: 3px 5px 0px 0px $green !important;
  box-shadow: 3px 5px 0px 0px $green !important;
  transition: box-shadow 0.3s ease-in-out;
  &:hover{
    -webkit-box-shadow: 2px 3px 0px 0px $green !important;
    -moz-box-shadow: 2px 3px 0px 0px $green !important;
    box-shadow: 2px 3px 0px 0px $green !important;

  }
}
