@import "variables";

*{
  font-family: "HK Nova" !important;
}

@media (max-width: 768px) {
  .columns{
    margin-left: 0;
    margin-right: 0;
  }

  .is-size-1{
    font-size: 2.2rem !important;
  }
  .is-size-2{
    font-size: 1.6rem !important;
  }
  .is-size-3{
    font-size: 1.4rem !important;
  }
  .is-size-4{
    font-size: 1.2rem !important;
  }
  .is-size-5{
    font-size: 1rem !important;
  }
}


.peach-background{
  background-color: $peach;
}

.blue-background{
  background-color: $lightblue;
}

.has-text-underline-dark{
  -webkit-box-shadow: inset 0px -2px 0px 0px $brown;
  -moz-box-shadow: inset 0px -2px 0px 0px $brown;
  box-shadow: inset 0px -2px 0px 0px $brown;
}

.elevate{
  transition: transform 0.25s;
}

.elevate:hover{
  transform:translateY(-3px);
}

.button:hover{
  transform:translateX(3px);
  &.down{
    transform:translateX(0px);
    transform:translateY(3px);
  }
  &.ignore{
    transform:translateX(0);
    transform:translateY(0);
  }
  &.expand{
    transform: scaleX(1.1) scaleY(1.1);
  }
}

.button{
  transform:ranslateX(3px);
  transition: transform 0.25s;
}


.cool-link {
    display: inline-block;
    text-decoration: none;
    &.cool-link-blue{
      &::after{
        background: $darkblue;
      }
    }


    &.cool-link-dark{
      &::after{
        background: $brown;
      }
    }

    &.cool-link-white{
      &::after{
        background: $white;
      }
    }

    &.cool-link-nav-large{
        &::after{
          margin-bottom: 6px;
          margin-top:-10px;
          height: 6px;
          @media (max-width: 768px) {
            height: 4px;
          }
        }
    }

}

.cool-link::after {
    margin-top:-3px;
    content: '';
    display: block;
    width: 0;
    height: 3px;
    transition: width .3s;
    @media (max-width: 768px) {
      height: 2px;
    }
}

.cool-link:hover::after {
    width: 100%;

    //transition: width .3s;
}

  .nuxt-link-exact-active {
        display: inline-block;
        text-decoration: none;

        &.cool-link::after {
            width: 100%;
        }


  }
