
// licht groen
$lightgreen:rgb(225,255,225);

// fel groen
$green:rgb(108,255,112);

// dark green
$darkgreen: hsl(141, 71%,  48%);

// licht blauw
$lightblue:rgb(227,246,255);

// fel blauw
$blue:rgb(0,164,255);
