
// white
$white:#FFFFFF;


// licht groen
$lightgreen:#ECFFEC;

// fel groen
$green:rgb(108,255,112);

// dark green
$darkgreen: hsl(141, 71%,  48%);

$darkblue: #00237d;

// licht blauw
$lightblue:rgb(227,246,255);

// fel blauw
$blue:rgb(0,164,255);

// pink/peach
$peach: #FFECDC;
