.delay-500{
  transition-delay: 500ms !important;
}
.delay-750{
  transition-delay: 1000ms !important;
}
.delay-1000{
  transition-delay: 1000ms !important;
}
.delay-1250{
  transition-delay: 1250ms !important;
}

.delay-1500{
  transition-delay: 1500ms !important;
}
.delay-1750{
  transition-delay: 1750ms !important;
}

.delay-2000{
  transition-delay: 2000ms !important;
}

.transitionOpacity{
  transition: opacity 0.5s;
}
