.window-full-height{
  min-height: 100vh;
}
@media (max-width: 768px) {

  .window-full-height{
    min-height: 100vh;
  }
}



.window-half-height{
  min-height: 50vh;
}
.window-half-width{
  width: 50%;
}
