// 1. Import the initial variables
@import "../../scss/variables.scss";


@import "../sass/utilities/initial-variables";
@import "../sass/utilities/functions";

$desktop: 1024px;

$fullhd: 1252px;

$widescreen: 1152px;

$body-line-height: 1.4;

$text: #091540;
$link: #091540;
$text-strong: #091540;




// dark blue
$info: $darkblue;
// dark brown
$dark: $brown;

$light: $peach;
// 2. Set your own initial variables
// Update blue
$blue: rgb(0,164,255);
// $blue: rgb(0,0,113);

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: rgb(108,255,112);
$primary-invert: rgb(255,255,255);

// $primary: $pink;
// $primary-invert: $pink-invert;

// Add pink and its invert
// Add a serif family
// $family-serif: "Neue Einstellung", sans;
$family-serif: "HK Nova", sans;
$size-1: 3.5rem;
// Use the existing orange as the danger color
$danger: $orange;
// Use the new serif family
$family-primary: $family-serif;

// 4. Setup your Custom Colors
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);

// 5. Add new color variables to the color map.
@import "../sass/utilities/derived-variables.sass";
$addColors: (
  "twitter":($twitter, $twitter-invert),
  "linkedin": ($linkedin, $linkedin-invert),
  "github": ($github, $github-invert)
);
$colors: map-merge($colors, $addColors);

// 6. Import the rest of Bulma
@import "../bulma";
